#juleliste {
  background-image: url(/Logo.webp);
}

#Container-Card:nth-child(odd):nth-child(n + 18) {
  grid-column: 1/3;
  grid-row: 7/8;
  margin-left: 14rem;
}
#Container-Card:nth-child(even):nth-child(n + 20) {
  grid-column: 2/4;
  grid-row: 7/8;
  margin-left: 15.5rem;
}

@media only screen and (max-width: 1140px) {
  #juleliste {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 0.9rem;
    margin: 1rem;
  }

  #Container-Card:nth-child(odd):nth-child(n + 18) {
    grid-column: auto;
    grid-row: auto;
  }
  #Container-Card:nth-child(even):nth-child(n + 20) {
    grid-column: auto;
    grid-row: auto;
  }

  #Container-Card {
    gap: auto;
    margin-left: 10rem;
    padding: auto;
  }
}

@media only screen and (max-width: 1010px) {
  #juleliste {
    grid-template-columns: 1fr;
  }

  #Container-Card {
    margin-left: 14rem;
  }
}

@media only screen and (max-width: 570px) {
  #juleliste {
    grid-template-columns: 1fr;
  }
  #Container-Card {
    margin-left: 0.8rem;
  }

  #Container-Card:nth-child(odd):nth-child(n + 18) {
    grid-column: 1fr;
    grid-row: auto;
    margin-left: 0.8rem;
  }
  #Container-Card:nth-child(even):nth-child(n + 20) {
    grid-column: 1fr;
    grid-row: auto;
    margin-left: 0.8rem;
  }
  .title {
    font-size: 4rem;
  }
}
