:root {
  --textShadow: rgba(233, 230, 147, 0.82);
}

html {
  scroll-behavior: smooth;
}

#juleliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem;
  background-image: url(public/Logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5rem;
  border-radius: 2rem;
}

#Container-Card:nth-child(odd):nth-child(n + 18) {
  grid-column: 1/3;
  grid-row: 7/8;
  margin-left: 19rem;
}
#Container-Card:nth-child(even):nth-child(n + 20) {
  grid-column: 2/4;
  grid-row: 7/8;
  margin-left: 18.5rem;
}

.title {
  text-align: center;
  margin: 3rem;
  font-family: "Lobster Two", sans-serif;
  font-size: 6.5rem;
  text-shadow: 2px 8px 12px var(--textShadow);
}
