:root {
  --textShadow: rgba(233, 230, 147, 0.82);
}

html {
  scroll-behavior: smooth;
}

#juleliste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 1.5rem;
  background-image: url(/Logo.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 5rem;
  border-radius: 2rem;
}

#Container-Card:nth-child(odd):nth-child(n + 18) {
  grid-column: 1/3;
  grid-row: 7/8;
  margin-left: 14rem;
}
#Container-Card:nth-child(even):nth-child(n + 20) {
  grid-column: 2/4;
  grid-row: 7/8;
  margin-left: 15.5rem;
}

.title {
  text-align: center;
  margin: 3rem;
  font-family: "Lobster Two", sans-serif;
  font-size: 6.5rem;
  text-shadow: 2px 8px 12px var(--textShadow);
}

@media only screen and (max-width: 1140px) {
  #juleliste {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 0.9rem;
    margin: 1rem;
  }

  #Container-Card:nth-child(odd):nth-child(n + 18) {
    grid-column: auto;
    grid-row: auto;
  }
  #Container-Card:nth-child(even):nth-child(n + 20) {
    grid-column: auto;
    grid-row: auto;
  }

  #Container-Card {
    gap: auto;
    margin-left: 10rem;
    padding: auto;
  }
}

@media only screen and (max-width: 1010px) {
  #juleliste {
    grid-template-columns: 1fr;
  }

  #Container-Card {
    margin-left: 14rem;
  }
}

@media only screen and (max-width: 570px) {
  #juleliste {
    grid-template-columns: 1fr;
  }
  #Container-Card {
    margin-left: 0.8rem;
  }

  #Container-Card:nth-child(odd):nth-child(n + 18) {
    grid-column: 1fr;
    grid-row: auto;
    margin-left: 0.8rem;
  }
  #Container-Card:nth-child(even):nth-child(n + 20) {
    grid-column: 1fr;
    grid-row: auto;
    margin-left: 0.8rem;
  }
  .title {
    font-size: 4rem;
  }
}
