:root {
  --backgroundcolor: rgb(39, 52, 46);
  --colorfont: rgb(245, 245, 217);
}

@keyframes fly {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(1100px, -160px);
  }
}

@media only screen and (max-width: 1140px) {
  #Santa-Claus {
    height: 5rem;
    width: 10rem;
    position: relative;
    top: 5rem;
    left: 0;
    animation: fly 10s infinite;
  }

  @keyframes fly {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(250px, -160px);
    }
  }
}
