:root {
  --gradient-star: linear-gradient(#c9ec4b, #e9e693d1, #e9e693d1, #c9ec4b);

  --star: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  --starColor: rgba(233, 230, 147, 0.82);
}

@keyframes stars {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
